
.my-bg-color{
    background-color: #FFFFFF;
}

.header-bg{
    background-color: #264653;
}

.my-button{
    background-color: #E76F51;
}

.my-text{
    text-align: justify;
}

hr{
    border: 1px solid #000000;
    margin: auto;
}

h1{
    font-weight: 700;
}

h1 span{
    color: #E76F51;
}

.bike-grayscale img{
    filter: grayscale(100%);
}

.form-bg-info{
    background-color: #fceae8;
}

.engine-sec-bg-color{
    background-color: rgba(218, 212, 212, 0.589);
}